.DS_Store
Package\ Control.cache
Package Control.ca-list
Package Control.ca-bundle
Package Control.ca-certs/
Package\ Control.user-ca-bundle
Package\ Control.system-ca-bundle

Package\ Control.last-run
Package\ Control.merged-ca-bundle
encoding_cache.json


